.alta {
    background-color:rgb(255, 145, 0);
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    max-width: 100%;
    display: flex;
    
  }
  .Form {
    background-color:rgb(32, 218, 57);
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    max-width: 100%
  }
  
  .submit  {
    background-color:greenyellow;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .title {
    color: blue;
    padding-bottom: 20%;
}
/* .container {
    display: flex
    }
.nombre {
    flex-direction: column;
    padding-bottom: 20%;
}
.email {
    flex-direction: column;
    padding-bottom: 20%;
}
.password {
    flex-direction: column;
    padding-bottom: 20%;
}

.container1 {
  display: flex
  }
.nombre1 {
  flex-direction: column;
  padding-bottom: 20%;
}
.autor {
  flex-direction: column;
  padding-bottom: 20%;
}
.fecha {
  flex-direction: column;
  padding-bottom: 20%;
} */